@import '/src/styles/vars';

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    background: -webkit-linear-gradient(50deg, var(--white) 60%, var(--blue-palette) 40%);
    background: -o-linear-gradient(50deg, var(--white) 60%, var(--blue-palette) 40%);
    background: -moz-linear-gradient(50deg, var(--white) 60%, var(--blue-palette) 40%);
    background: linear-gradient(50deg, var(--white) 20%, var(--blue-palette) 20%);
}

.navbarContainer img{
    width: 10rem;
    height: 7rem;
    margin: 1rem 1rem;
    transition: all 0.3s ease-in-out;
}
.navbarContainer a{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 3rem;
    transition: all 0.3s ease-in-out;
}