@import '/src/styles/vars';


.targetComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 22rem;
    height: 28rem;
    margin: 1rem 1rem;
    padding: 1rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.targetComponent-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 100%;
}

.targetComponent-content h3{
    font-family: 'Cotton Butter', sans-serif;
    color: var(--blue-palette);
    font-size: 3rem;
    margin-top: 1rem;
}

.targetComponent-content p{
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
    font-weight: bold;
    color: var(--blue-palette);
}

.targetComponent-content__icon{
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
    color: var(--blue-palette);
}

.targetComponent-content__tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.targetComponent-content button{
   background-color: var(--purple-palette);
   border-color: var(--purple-palette);
   font-family: 'Cotton Butter', sans-serif;
   border-radius: 2rem;
   font-size: 1.3rem;
   width: 3.5rem;
   justify-content: end;
   margin-bottom: 3rem;
}
