:root {
    --white: #ffffff;
    --black: #000000;
    --blue-palette: #35306A;
    --red-palette: #ED3237;
    --purple-palette: #A8518A;
    --yellow-palette: #E2E430; 
    --sm: 2.2rem;
    --md: 3.5rem;
    --lg: 5rem;
    --bold-text: bold;
}
