@import '/src/styles/vars';

.documentInfoSection{
    display: flex;
    flex-direction: row;
    margin: 0 4rem;
    position: relative;
    padding: 0 2rem;
    padding-left: 5rem;
}

.documentInfoSection__Info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}

.documentInfoSection__Info h1{
    font-family: 'Cotton Butter', sans-serif;
    color: var(--blue-palette);
    position: relative;
    font-size: 9rem;
}

.documentInfoSection__Info p{
    color: var(--blue-palette);
    margin-top: 2rem;
    position: relative;
    font-weight: normal;
    text-align: justify;
    width: 98%;
    font-size: 1.5rem;
}

.documentInfoSection__Info button{
    background-color: var(--purple-palette);
    border-color: var(--purple-palette);
    position: relative;
    font-family: 'Cotton Butter', sans-serif;
    margin-top: 3rem;
    font-size: 2.7rem;
    width: 12rem;
}


.documentInfoSection__Image{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 50%;
}


.documentInfoSection__Image img{
    margin-top: 9rem;
    width: 80%;
    height: 80%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 2rem;
}

