@import '/src/styles/vars';

.targetSection{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
}

.targetSection-tittle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}

.targetSection-tittle_text {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

.targetSection-tittle_text h1{
    margin: 3.4rem 0;
    position: absolute;
    font-family: 'Cotton Butter', sans-serif;
    font-size: 11.5rem;
    margin-left: 6rem;
    text-align: left;
    color: var(--blue-palette);
}

.targetSection-tittle_text h2{
    margin: 0;
    font-family: 'Cotton Butter', sans-serif;
    font-size: 6rem;
    margin-left: 6rem;
    text-align: left;
    color: var(--purple-palette);
}

.targetSection-tittle button{
    font-family: 'Cotton Butter', sans-serif;
    font-size: 3rem;
    margin: 0 2rem;
    border-radius: 10px;
    height: 4rem;
    border-color: var(--purple-palette);
    width: 16rem;
    background-color: var(--purple-palette);
    margin-right: 10rem;
    margin-top: 10rem;
}

.targetSection-targets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
}



